#!/bin/sh
# From https://github.com/mschubert/clustermq/wiki/SLURM
#SBATCH --job-name={{ job_name }}        # job name
#SBATCH --partition=hpg-default          # partition
##SBATCH --mail-type=ALL                 # uncomment for notifications for each worker
##SBATCH --mail-user=ericscott@ufl.edu   # uncomment for notifications for each worker
#SBATCH --output={{ log_file | logs/workers/pipeline%j_%a.out }} # you can add .%a for array index
#SBATCH --error={{ log_file | logs/workers/pipeline%j_%a.err}}   # log file
#SBATCH --mem-per-cpu={{ memory | 8GB }}     # memory
#SBATCH --array=1-{{ n_jobs }}               # job array
#SBATCH --cpus-per-task={{ num_cores | 1 }}
#SBATCH --time={{ time | 1440 }}

source /etc/profile

ulimit -v $(( 1024 * {{ memory | 8192 }} ))
module load R              # Uncomment if R is an environment module.
module load pandoc         # Uncomment if Rmarkdown is rendered.
CMQ_AUTH={{ auth }} Rscript -e 'clustermq:::worker("{{ master }}")'